<app-loading *ngIf="isLoading"></app-loading>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100 wrap-forgot bg-lazy">
  <div class="wrap-content p-5 rounded">
    <h2 class="text-center">Forgot Password</h2>
    <form (submit)="onSubmit()" class="mt-10">
      <div class="form-group mt-10 position-relative">
        <label htmlFor="inputEmail">Email address</label>
        <input [(ngModel)]="email" type="email" class="form-control" id="inputEmail"
          name="email" aria-describedby="emailHelp" placeholder="Email" required/>
        <small id="emailHelp" class="form-text text-muted">
          Enter verification email to change password.
        </small>
        <i class="icon-email position-absolute fas fa-envelope"></i>
      </div>
      <div *ngIf="isCode" class="form-group mt-10 position-relative">
        <label htmlFor="inputPassword">Password</label>
        <input [(ngModel)]="password" type="password" name="password" class="form-control"
          id="inputPassword" placeholder="Password" required/>
        <i class="icon-password position-absolute fas fa-lock"></i>
      </div>
      <button type="submit" class="btn btn-primary mt-10 w-100">
        {{ isCode ? "Forgot" : "Verify Code" }}
      </button>
      <p class="mt-10 text-center">
        Already have an account?
        <small class="text-decoration-underline" (click)="redirectTo(URL_LOGIN)">Login</small>
      </p>
    </form>
  </div>
</div>
