$grey-100: #fff;
$grey-90: #e2e3e7;
$grey-66: #c4c7cf;
$grey-46: #868d9a;
$grey-30: #696e79;
$grey-16: #41454c;
$grey-13: #35383f;
$grey-11: #292c31;
$grey-10: #232529;
$grey-0: #000;
$red-46: #e3796a;
$red-30: #d2483e;
$red-12: #602620;
$red-10: #441b1b;
$green-46: #5fa67d;
$green-30: #448460;
$green-16: #315841;
$green-12: #253e2f;
$green-10: #1f3428;
$orange-30: #ba5d38;
$yellow-46: #cf9a69;
$yellow-30: #b2722a;
$yellow-10: #38230b;
$yellow-11: #462b0d;
$blue-46: #78aacd;
$blue-30: #2a88b7;
$blue-12: #193c50;
$blue-10: #162936;

$cl-white: $grey-100;
$cl-black: $grey-0;

$bd-primary: rgba(255, 255, 255, 0.5);
